@import "../common";

.heroBox {
    margin-top: -$layoutNavigationHeight;

    background-color: #1c1c1c;
    background-image: url(https://source.unsplash.com/uq5RMAZdZG4/1920x1080);
    
    > div {
        padding-top: 100px;
        padding-bottom: 100px;
        min-height: 600px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            color: white;
            text-shadow: 0 0 10px black, 0 0 10px black;

            text-align: center;

            &.heroPretitle {
                font-size: 2em;
                font-weight: 100;
                margin-bottom: -20px;
            }

            &.heroTitle {
                font-size: 4em;
                font-weight: 800;
            }

            &.heroSubtitle {
                font-size: 1.5em;
                font-weight: 400;
                margin-bottom: -20px;
            }
        }
    }
}