@import "../common";

.linkBox {
    @include boxStyle;

    padding: 30px;
    width: 300px;

    margin: $layoutPadding;

    background-color: transparent;
    box-shadow: none;
    
    @media(prefers-color-scheme: dark) {
        //background: rgba(5, 4, 4, 0.05);

        background-color: transparent;
    }

    .lbIcon {
        width: 60px;
        height: 60px;


        svg {
            width: 40px;
            height: 40px;
            margin: 10px;
        }
        color: $colorAccent;

        border-radius: 100%;

        background-color: rgba(grey, .07);

        margin-bottom: 10px;
    }

    .lbText {
        font-size: 2em;
        font-weight: 700;
    }

    &.highlight {
        /*background-color: $colorAccent;*/
        color: $colorAccent;
        /*color: white;*/
    }

    &.small {
        width: unset;   
        border-radius: 100px;
        display: flex;
        padding: 5px 15px;
        line-height: 25px;
        align-items: center;

        .lbIcon {
            height: 25px;
            width: 25px;
            svg {
                width: 15px;
                height: 15px;
                margin: 5px;
            }

            margin-bottom: 0;
            margin-right: 5px;
        }

        .lbText {
            font-size: 1em;
            font-weight: 200;
        }
    }
}